.m-category {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  &__top {
    padding: 20px;
    box-sizing: border-box;
    flex-shrink: 0;
    .m-top_shop {
      margin-bottom: 20px;
    }
  }
  &__main {
    flex: 1;
    display: flex;
    overflow: hidden;
  }
  &__menu {
    width: 25%;
    height: 100%;
  }
  &__content {
    overflow: hidden;
    background: #fff;
    height: 100%;
    width: 100%;
  }
}
