.m-top_shop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__icon {
    font-size: 60px;
    margin-right: 10px;
  }
  &__content {
    flex-grow: 1;
    color: #333;
    line-height: 1.25;
  }
  &__title {
    font-size: 32px;
    font-weight: bold;
  }
  &__subtitle {
    font-size: 24px;
    color: #afafaf;
  }
  &__extra {
    font-size: 48px;
    color: #afafaf;
  }
}
